body{
    background-color: rgba(245, 0, 0, 0.986);
}
.container{
    display: flex;
    background-color: rgb(10, 62, 78);
    height: 600px;
    gap: 10xp;
    flex-flow:row wrap
}
.item{
    /* width: 200px; */
    height: 200px;
    background-color: aqua
}
.item-3{
flex-grow: 1;
}